// variables color y fuente
$primary-color: #7AB2D3;
$dark-color: #4A628A;
$light-color: #B9E5E8;
$lighter-color: #DFF2EB;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


// variables para puntos de ruptura
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;