@use '../abstracts/variables' as *;

main {
    font-family: $font-stack;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
}

.adminBody {
    font-family: $font-stack;
    margin: 20px;
}

.btn-paciente {
    font-family: $font-stack;
    padding: 10px 15px;
    background-color: $light-color;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;

    &__input {
        background-color: $lighter-color;
        border: solid 1px $dark-color;
        font-family: $font-stack;
    }
    &__textarea {
        background-color: $lighter-color;
        border: solid 1px $dark-color;
        font-family: $font-stack;
    }
    &__btn-msg {
        background-color: $primary-color;
        font-family: $font-stack;
        font-size: 16px;
        padding: 5px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    &__btn-msg:hover {
        transform: scale(1.02);
    }
}

// Responsividad

// Para pantallas pequeñas (menores o igual a 576px)
@media (max-width: $breakpoint-small) {
    main {
        display: block;
        padding: 30px 10px;
    }

    iframe {
        width: 90vw;
    }

    .form {
        width: 100%;
        padding: 0 15px;
        &__input {
            font-size: 14px;
        }
        &__textarea {
            font-size: 14px;
        }
        &__btn-msg {
            padding: 10px;
            font-size: 14px;
        }
    }
}

// Para pantallas medianas (entre 576px y 768px)
@media (max-width: $breakpoint-medium) {
    main {
        display: block;
        padding: 40px 15px;
    }

    iframe {
        width: 90vw;
    }

    .form {
        width: 350px;
    }
}

// Para pantallas grandes (entre 768px y 1024px)
@media (max-width: $breakpoint-large) {
    main {
        display: block;
        padding: 40px 20px;
    }

    iframe {
        width: 90vw;
    }

    .form {
        width: 400px;
    }
}

